BASE_SEPOLIA_RPC_URL=
LINEA_SEPOLIA_RPC_URL=

SOURCE_BRIDGE_ADDRESS=
DEST_BRIDGE_ADDRESS=

# Private key of the attestor wallet
ATTESTOR_PRIVATE_KEY=

POLL_INTERVAL_MS=3000

INDEXER_URL=http://localhost:42069
