BASE_SEPOLIA_RPC_URL=https://sepolia.base.org
LINEA_SEPOLIA_RPC_URL=https://rpc.sepolia.linea.build

SOURCE_BRIDGE_ADDRESS=0x8B345b1261D017c020C11C5E50B3c66865c4aF97
DEST_BRIDGE_ADDRESS=0x8B345b1261D017c020C11C5E50B3c66865c4aF97

# Private key of the attestor wallet
ATTESTOR_PRIVATE_KEY=

POLL_INTERVAL_MS=3000

INDEXER_URL=http://localhost:42069
